@use '../foundation/variable' as *;
@use '../foundation/mixin' as *;

.l-inner {
 background-color: yellow;
 max-width: 94rem;
 width: 100%;
 padding-inline: 3rem;
 margin: 0 auto;
 height: 8rem;
}

.p-header {
 display: flex; 
}

.p-header-wrap {
 height: inherit;
 display: flex;
 align-items: center;
 // column-gap: 249px; 
 column-gap: 24.9rem; 
}

.p-header-logo {
 display: flex;
 align-items: center;
 justify-content: space-between;
 // padding-top: 6px;
 padding-top: 0.6rem;
}

.p-header-logo__img {
 width: 3.3rem;
}

.p-header-logo__text {
// padding-left: 9px;
padding-left: 0.9rem;
}

.p-header-logo__text h1 {
font-size: 2rem;
line-height: calc(23 / 20);
}

.p-header-logo__text span {
 display: block;
 font-size: 1.5rem;
 line-height: calc(23 / 15);
 }
 
 .p-header-nav {
  height: inherit;
 }

 .p-header-nav__lists {
  height: inherit;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  font-size: 1.7rem;
  line-height: calc(33 / 17);
  padding-inline: 1.7rem;
 }

 .p-header-nav__lists a {
  height: inherit;
 }

 .p-header-nav__list {
  background-color: aqua;
  height: inherit;
  padding-top: 2.6rem;
  padding-inline: 1.7rem;  
 }
 
.c-btn {
 background-color: $color-red;
 color: #fff; 
}

//ヘッダー「お問い合わせ」ボタン
.c-btn--header { 
 font-size: 1.5rem;
 line-height: calc(33 / 15); 
 margin-block: 1.8rem; 
 padding: 0.7rem 3rem 1rem;
}

//画面下に固定された「お問い合わせ」ボタン
.c-btn--fixed {
 font-size: 2rem;
 line-height: calc(33 / 20); 
 padding: 1.7rem 8.2rem 1rem;   
}      

//お問い合わせページ「送信」ボタン
.c-btn--contact {
 font-size: 2.5rem;
 line-height: calc(33 / 25); 
 padding: 1rem 9.6rem 0.7rem;   
}      

//送信完了ページの「ホームに戻る」ボタン
.c-btn--backhome {
 font-size: 2.5rem;
 line-height: calc(33 / 25); 
 padding: 1rem 5rem 0.7rem;   
} 

//----------2回目-------------
